@font-face {
  font-family: 'Native Record Sans';
  src: url('https://github.com/designelixir/buck-and-bloom/blob/main/public/fonts/Native%20Record/Native%20Record%20Sans.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Native Record Sans';
  src: url('https://github.com/designelixir/buck-and-bloom/blob/main/public/fonts/Native%20Record/Native%20Record%20Sans.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}